html,
body {
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  color: #ededed;
  background: #112;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ededed;
}

a {
  color: #09c;
  text-decoration: none;
}

a.primary {
  gap: 8px;
}

body, h1, h2, p, button, a .nav {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  width: 100%;
  min-width: 100%;
  max-width: 100vw;
}

main div {
  width: 100%;
  min-width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center
}

.nav, button {
  background-color: #112;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.dropfile-cloud {
  width: 8em;
  max-width: 8em;
  height: 7em;
  max-height: 7em;
}

/* patcher styling */
.hidden-input {
  visibility: hidden;
}


/* per page styling */
.plus-patcher-bg {
  background: linear-gradient(#112,#60c);
}
.plus-optional-patcher-bg {
  background: linear-gradient(#112,#09c);
}
.discord-bg {
  background: linear-gradient(#112,#000);
}
.guides-bg {
  background: linear-gradient(#112,#606);
}